.message_card {
  padding: auto;
  width: fit-content;
  margin: 10px;
}

.message_user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message_userCard {
  background-color: lightsalmon !important;
}

.message_guestCard {
  background-color: lightgray !important;
}
